# Usage:
#
# $ virtualenv ~/pyenv/grouse-etl
# $ . ~/pyenv/grouse-etl/bin/activate
# (grouse-etl)$ pip install -r requirements.txt
#
# (grouse-etl)$ PYTHONPATH=. luigi --module demographics Demographics \
#                                  --local-scheduler
#

[ETLAccount]
account=oracle://heron_etl_1@localhost:8321/i2b2demodata
passkey=HERON_TEST

[CMSExtract]
download_date=1487378515445
cms_rif=CMS_DEID

[I2B2ProjectCreate]
star_schema = GROUSEDATA
project_id = GROUSE

# [core]
# default-scheduler-port = 8082

# [scheduler]
# TODO: record_task_history
