# This is a python packaging requirements file.
# https://packaging.python.org/tutorials/installing-packages/#requirements-files

# Usage (development):
#
# $ virtualenv --python python3.5 ~/pyenv/grouse3
# $ . ~/pyenv/grouse3/bin/activate
# (grouse3)$ pip install -r requirements.txt
# ...
# Successfully built luigi tornado
# Installing collected packages: ...
# ... tornado-4.4.2


# Production usage is more like:
#
# $ docker run --rm -ti --entrypoint=/bin/bash stockport/luigi-taskrunner
# app@8ee96e02e548:/$ . /luigi/.pyenv/bin/activate
# (.pyenv) app@8ee96e02e548:/$ python --version
# Python 3.5.2
# (.pyenv) app@8ee96e02e548:/$ pip freeze
# alembic==0.8.9

# cx_Oracle isn't pure-python nor open source, so installation is
# failure-prone. Fortunately, the stockport/luigi-taskrunner Docker
# image provides it:

cx-Oracle==5.2.1

# Cython==0.25.1
# docutils==0.12
# lockfile==0.12.2
luigi==2.4.0
# Mako==1.0.6
# MarkupSafe==0.23
# numpy==1.11.2
pandas==0.19.1
# psycopg2==2.6.2
# pymssql==2.1.3
# PyPDF2==1.26.0
# python-daemon==2.1.2
# python-dateutil==2.6.0
# python-editor==1.0.3
# pytz==2016.10
# requests==2.12.3
# six==1.10.0
SQLAlchemy==1.1.4
#tornado==4.4.2
#XlsxWriter==0.9.4

# let's "vendor" it instead, since
# we have no Internet access from our build jobs.
# python-json-logger==0.1.7
