# Usage:
#
# (grouse-etl) ~/projects/grouse/etl_i2b2$ pip install -r requirements.txt
# ...
# Successfully built luigi tornado
# Installing collected packages: singledispatch, certifi,
# backports-abc, tornado, lockfile, docutils, python-daemon, luigi
# Successfully installed backports-abc-0.5 certifi-2017.1.23
# docutils-0.13.1 lockfile-0.12.2 luigi-2.5.0 python-daemon-2.1.2
# singledispatch-3.4.0.3 tornado-4.4.2
#
# TODO: cite pip docs

luigi
sqlalchemy==1.1.5

# This isn't pure-python nor open source, so installation
# is failure-prone. It worked out-of-the-box today, though.
# TODO: figure out a way to make this optional or something.
cx_Oracle

